body{
    background-color: #dfe6e9;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

h1, h4, span, input, ul {  
    color: #2d3436;
 
}


ul > li {
   list-style: none;
   padding:5px;
}

ul {
    padding: 0px;
}

button, button:focus {
    border: none;
    outline: none;
    background:none;
    cursor: pointer;
}

input[type=text] {
  outline: none;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  background-color:  #2d3436;
  color: #dfe6e9;
  opacity: 0.5;
  font-size: 1em;
 

}

form {
    outline: none;
}

.showing {
    display: block !important;
}

.form, .greetings {
    display: none;
}



.js-clock h1{
    font-size: 6em;
    opacity: 0.8;
    margin: 1%;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.bgImage {
    position: absolute;
    top:0;
    left:0;
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}