body{
    background-color: #dfe6e9;
    overflow: hidden;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h4, span, input {  
    color: #2d3436;
}


.showing {
    display: block !important;
}

.form, .greetings {
    display: none;
}


.js-clock {
  margin-top:20%;
  
}

.js-clock h1{
    font-size: 6em;
    opacity: 0.8;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.bgImage {
    position: absolute;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}