body{
    background-color: #dfe6e9;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2d3436;
    text-align: center;
}

.showing {
    display: block !important;
}

.form, .greetings {
    display: none;
}

